<div class="container">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="profile-user-wrapper">
     <%= cl_image_tag @profile.photo, class: "avatar-large" if @profile.photo? %>

      <p id="notice"><%= notice %></p>

      <p>
        <strong>Name:</strong>
        <%= @profile.name %>
      </p>

      <p>
        <strong>Birthday:</strong>
        <%= @profile.birthday %>
      </p>

      <p>
        <strong>Phone:</strong>
        <%= @profile.phone %>
      </p>

      <p>
        <strong>Location:</strong>
        <%= @profile.location %>
      </p>

      <p>
        <strong>Bio:</strong>
        <%= @profile.bio %>
      </p>



    <%= link_to 'Edit', edit_user_profile_path(current_user, @profile) %>
    </div>
  </div>
</div>

