
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-offset-4 col-md-4 text-center">

      <h1>My bookings:</h1>
      <p>
        <%current_user %>
      </p>
      <% @my_bookings.each do |booking| %>
      <h2>
        <%= booking.flat.title %>
      </h2>
      <p class="bookings-index-p">Starting date:<%= booking.initial_date %></p>
      <p class="bookings-index-p">Number of Nights:<%= booking.number_nights %></p>
      <!-- Delete a booking  -->
      <% flat = booking.flat %>
      <p> <%= link_to "Delete", flat_booking_path(flat, booking),
      method: :delete,
      data: { confirm: "Are you sure?" },
      class: "btn-primary" %></p>
      <% end %>

    </div>
  </div>



<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-offset-4 col-md-4 text-center">

<h1>My properties:</h1>
      <% @my_flats.each do |myflat| %>
      <p class="my-props-p" > <%= myflat.title %></p>
      <% if myflat.bookings.length == 0 %>
      <% else %>
      <% myflat.bookings.each do |booking| %>
      <p class="my-props- p"> <%=  booking.initial_date  %> </p>
      <p class="my-props- p"><%=  booking.number_nights  %></p>
      <% end %>
      <% end %>
      <p>****************</p>

<% end %>
</div>

