
<div class="container">
  <h1 style="text-align: center">My Trips:</h1>
  <div class="row">
    <p>
      <%current_user %>
    </p>
    <% @my_bookings.each do |booking| %>
    <div class="col-xs-12 col-md-4 text-center">
    <p>
      <%= booking.flat.title %>
    </p>
      <div class="my-trips-pic">
      <%= cl_image_tag booking.flat.photo, height: 200, width: 300, crop: :fill %>
      </div>

      <p class="bookings-index-p">Starting date:<%= booking.initial_date %></p>
      <p class="bookings-index-p">Number of Nights:<%= booking.number_nights %></p>
      <p class="bookings-index-p">Total Price:<%= booking.total_price %> </p>
      <br>
      <!-- Delete a booking  -->
      <% flat = booking.flat %>
      <p> <%= link_to "delete", flat_booking_path(flat, booking),
      method: :delete,
      data: { confirm: "Are you sure?" },
      class: "btn btn-primary" %></p>
      </div>
      <% end %>
  </div>
</div>


<div class="container">
    <h1 style="text-align: center">My properties:</h1>
    <div class="row">
        <% @my_flats.each do |myflat| %>
      <div class="col-xs-12 col-sm-4 text-center">
            <p class="my-props-p" > <%= myflat.title %></p>
            <!-- <div class="myprops-pics"> -->
              <%= cl_image_tag myflat.photo, height: 200, width: 300, crop: :fill %>
              <% if myflat.bookings.length == 0 %>
                <% else %>
                  <% myflat.bookings.each do |booking| %>
                  <p class="my-props-p">Start date: <%=  booking.initial_date  %> </p>
                  <p class="my-props-p">Number of nights: <%=  booking.number_nights  %></p>
                  <p class="my-props-p">Total price: <%=  booking.total_price  %></p>
                  <p class="my-props-p">Status booking: <%=  booking.status  %></p>
            <% end %>
        <% end %>
          <!-- </div> -->
      </div>
        <% end %>
  </div>
</div>

