<h1>Bookings#show</h1>
<p> Description flat: </p>
<p><%= @flat.description %></p>
<p><%= @flat.title %></p>
<p> Address: <%= @flat.address %></p>
<p> Price: <%= @flat.price %></p>

<p> Booking information: </p>

<p> Booking initial date: <%= @booking.initial_date %></p>
<p> Number of nights: <%= @booking.number_nights %></p>
<p> Total price: <%= @booking.total_price %></p>

